{# Copied from https://blog.miguelgrinberg.com/post/dynamic-forms-with-flask #}

{# Render text field #}
{% macro text(field, label, autofocus) %}
  {% if label %}
    {{ field.label(class='form-label') }}
  {% endif %}
  {% if autofocus %}
    {{ field(class='form-control' + (' is-invalid' if field.errors else ''), autofocus="true") }}
  {% else %}
    {{ field(class='form-control' + (' is-invalid' if field.errors else '')) }}
  {% endif %}
  {% if field.errors %}
  <div class="invalid-feedback">{{ field.errors|join(', ') }}</div>
  {% endif %}
{% endmacro %}

{# Render Bootstrap select field #}
{% macro select(field) %}
  {{ field(class="form-select") }}
{% endmacro %}
