<nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom border-body"
     data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Paralympics</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.index') }}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.trends') }}" target="_blank"
                       rel="noopener noreferrer">Trends</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.participants') }}" target="_blank"
                       rel="noopener noreferrer">Participants</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.locations') }}" target="_blank"
                       rel="noopener noreferrer">Locations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.news') }}" target="_blank"
                       rel="noopener noreferrer">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('main.add_question') }}" target="_blank"
                       rel="noopener noreferrer">Add new question</a>
                </li>
            </ul>
        </div>
    </div>
</nav>